<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'mediaquery.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <nav class="main-nav">
      <div class="main-nav-left">
        <div class="logo">Logo</div>
        <div class="nav-links">
          {% for link in linklists.main-menu.links -%}
            <li class="nav-link">{{ link.title | upcase | link_to: link.url }}</li>
          {%- endfor -%}
        </div>
      </div>
      <div class="main-nav-center"></div>
      <div class="main-nav-right">
        <form class="search" method="post">
          <input
            class="search-input"
            type="email"
            name="search"
            placeholder="Search here"
            required />
          <button class="login-btn" type="button">Log In</button>
        </form>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="39"
          height="27"
          viewBox="0 0 39 27"
          fill="none">
          <g clip-path="url(#clip0_48_345)">
            <path d="M7.21746 23.6466C5.4546 23.6466 3.79683 22.8728 2.66792 21.5185C0.572818 19.0103 0.90844 15.2632 3.41374 13.1691L15.964 2.67454C17.0285 1.78529 18.3744 1.29654 19.7575 1.29654C21.5204 1.29654 23.1782 2.0704 24.3037 3.42464C26.3988 5.93287 26.0632 9.67995 23.5579 11.7741L22.6764 12.5106L24.6529 12.5208C27.4599 9.92772 27.7718 5.55952 25.297 2.59309C23.8698 0.882464 21.8221 0 19.7575 0C18.1269 0 16.4861 0.549843 15.1368 1.68008L2.58994 12.178C-0.467951 14.7371 -0.874766 19.292 1.678 22.3501C3.10524 24.0607 5.15288 24.9432 7.21746 24.9432C8.14636 24.9432 9.07525 24.7565 9.95669 24.3967C9.66852 24.0607 9.41088 23.6942 9.18713 23.3072C8.55656 23.5312 7.8921 23.65 7.21746 23.65V23.6466Z" fill="#616161" />
            <path d="M15.466 13.7664L21.141 13.7969L22.6768 12.5106L15.4693 12.4732C11.4859 12.4529 8.23821 15.6705 8.21787 19.6585C8.21109 20.989 8.56705 22.2346 9.18744 23.3072C9.59426 23.1612 9.98412 22.9712 10.3503 22.7404C9.80106 21.8206 9.50273 20.7616 9.50951 19.6653C9.52646 16.3968 12.1979 13.7494 15.4626 13.7664H15.466Z" fill="#616161" />
            <path d="M36.4373 14.2554C35.1897 13.2032 33.5828 12.5617 31.8233 12.5549L24.6532 12.5176C24.5651 12.599 24.4803 12.6839 24.3854 12.7653L23.1412 13.8039L31.8132 13.8481C33.1997 13.8548 34.5422 14.3504 35.5999 15.243C36.9458 16.3801 37.712 18.0432 37.7052 19.8047C37.6883 23.0732 35.0168 25.7206 31.7521 25.7036L15.4016 25.6188C14.015 25.612 12.6725 25.1164 11.6148 24.2238C11.4453 24.0812 11.286 23.9285 11.1368 23.7724C10.7571 24.0202 10.3638 24.2272 9.95703 24.3935C10.2113 24.6888 10.4859 24.9637 10.7842 25.2149C12.0318 26.267 13.6387 26.9085 15.3982 26.9153L31.7488 27.0002C35.7322 27.0205 38.9799 23.8029 39.0002 19.8149C39.0104 17.5884 38.0137 15.5892 36.4373 14.2554Z" fill="#616161" />
            <path d="M21.1406 13.7937L23.1442 13.8039L24.3884 12.7653C24.4833 12.6872 24.5647 12.6024 24.6562 12.5175L22.6797 12.5073L21.144 13.7937H21.1406Z" fill="#616161" />
            <path d="M10.3532 22.7402C9.98372 22.971 9.59724 23.1611 9.19043 23.307C9.41418 23.694 9.66844 24.0571 9.95999 24.3966C10.3668 24.2302 10.7634 24.0232 11.1398 23.7754C10.838 23.4598 10.577 23.1102 10.3566 22.7402H10.3532Z" fill="#616161" />
            <path d="M10.1171 6.72808L9.0625 7.58154L13.9109 13.5866L14.9655 12.7331L10.1171 6.72808Z" fill="#616161" />
          </g>
          <defs>
            <clipPath id="clip0_48_345">
              <rect
                width="39"
                height="27"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </nav>
    {{ content_for_layout }}
  </body>
  {% render 'footer' %}
</html>