<div class="comparison-container">
  <div class="comparison-wrapper">
    <div class="comparison-context">
      <div class="comparison-title">
        {{ section.settings.comparisonTitle }}
      </div>
      <div class="comparison-subtitle">
        {{ section.settings.comparisonSubTitle }}
      </div>
      <br/>
      <div class="comparison-text1">
        {{ section.settings.comparisonText1 }}
      </div>
      <br/>
    </div>

    <div class="compared-container">
      <div class="compared-block">
        <div class="compared-img-left">
          {{ section.settings.comparisonImage1 | image_url: width: 480 | image_tag }}
        </div>
        <p class="compared-product">{{ section.settings.comparisonInformation1 }}</p>
      </div>

      <div class="compared-block">
        <p class="compared-product">{{ section.settings.productSentence }}</p>
        <div class="compared-stats">{{ section.settings.oneVone }}</div>
      </div>

      <div class="compared-block">
        <div class="compared-img-right">
          {{ section.settings.comparisonImage2 | image_url: width: 480 | image_tag }}
        </div>
        <p class="compared-product">{{ section.settings.comparisonInformation2 }}</p>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "comparison",
    "settings": [
      {
        "type": "text",
        "id": "comparisonTitle",
        "label": "Title of Section"
      },
      {
        "type": "text",
        "id": "comparisonSubTitle",
        "label": "Subtitle of Section"
      },
      {
        "type": "richtext",
        "id": "comparisonText1",
        "label": "Text Area 1"
      },
      {
        "type": "richtext",
        "id": "productSentence",
        "label": "Comparison Description "
      }, {
        "type": "richtext",
        "id": "oneVone",
        "label": "Comparison Stats "
      }, {
        "type": "image_picker",
        "id": "comparisonImage1",
        "label": "1st Image to compare"
      }, {
        "type": "text",
        "id": "comparisonInformation1",
        "label": "Information for Product1"
      }, {
        "type": "image_picker",
        "id": "comparisonImage2",
        "label": "2nd Image to compare"
      }, {
        "type": "text",
        "id": "comparisonInformation2",
        "label": "Information for Product2"
      }
    ],
    "presets": [
      {
        "name": "comparison"
      }
    ]
  }
{% endschema %}