<div class="comparison-container">
  <div class="comparison-wrapper">
    <div class="comparison-context">
      <div class="comparison-title">
        {{ section.settings.comparisonTitle }}
      </div>
      <div class="comparison-subtitle">
        {{ section.settings.comparisonSubTitle }}
      </div>
      <br/>
      <div class="comparison-text1">
        {{ section.settings.comparisonText1 }}
      </div>
      <br/>
      <div class="comparison-text2">
        {{ section.settings.comparisonText2 }}
      </div>
      <br/>
      <div class="compared-container">
        <div class="left-comparison">
          {{ section.settings.comparisonImage1 | image_url: width: '400x400' | image_tag }}
        </div>
        <div class="center-comparison">
          {{ section.settings.oneVone }}
        </div>
        <div class="right-comparison">
          {{ section.settings.comparisonImage2 | image_url: width: '400x400' | image_tag }}
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "comparison",
    "settings": [
      {
        "type": "text",
        "id": "comparisonTitle",
        "label": "Title of Section"
      },
      {
        "type": "text",
        "id": "comparisonSubTitle",
        "label": "Subtitle of Section"
      },
      {
        "type": "richtext",
        "id": "comparisonText1",
        "label": "Text Area 1"
      },
      {
        "type": "richtext",
        "id": "comparisonText2",
        "label": "Text Area 2"
      }, {
        "type": "richtext",
        "id": "oneVone",
        "label": "Comparison Area "
      }, {
        "type": "image_picker",
        "id": "comparisonImage1",
        "label": "1st Image to compare"
      }, {
        "type": "image_picker",
        "id": "comparisonImage2",
        "label": "2nd Image to compare"
      }
    ]
  }
{% endschema %}